.app-logo {
  color: #2c3e50;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    font-weight: bold;
    @media (max-width: 640px) {
      font-size: 1.2em;
    }
  }
}
