.slide-content {
  border-radius: 10px;
  color: #000;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 1000px;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 20px);
  &.border {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #222, 0 5px 20px rgba(0,0,0,.5);
  }
  &.squared {
    border-radius: 0;
    .slide-navigation .btn {
      border-radius: 0;
    }
  }
  .btn {
    background: #fff;
    border: 1px solid #444;
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgba(#fff, .5), 0 0 10px 10px rgba(#000, .1);
    cursor: pointer;
    font-size: 0;
    font-weight: bold;
    height: 40px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s all;
    user-select: none;
    width: 40px;
    z-index: 1;
    &:hover {
      background: #444;
      border: 1px solid #fff;
      box-shadow: 0 0 10px 10px rgba(#fff, .5);
      color: #fff;
      transform: translateY(-50%) scale(1.2);
      &:before,
      &:after {
        color: #fff;
      }
    }
    &:before,
    &:after {
      font-family: 'Font Awesome 6 Free';
      background: transparent;
      content: "";
      color: #444;
      font-size: 1.5rem;
      display: flex;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      transform: translateX(5px);
    }
  }
  .prev {
    left: 10px;
    &:before {
      content: "\f053";
    }
    &:active {
      transform: translateX(-5px) translateY(-50%) scale(1.2);
    }
  }
  .next {
    right: 10px;
    &:before {
      content: "\f054";
    }
    &:active {
      transform: translateX(5px) translateY(-50%) scale(1.2);
    }
  }
}
