@import "../mixins/responsive";

.about {
  margin-top: 2rem;
  padding: 4rem;
  border-top: 1px solid #eee;
  box-shadow:
    0 15px 25px rgb(0 0 0 / 6%),
    0 -5px 15px rgb(0 0 0 / 2%);

  .examples {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;

    @include mobile {
      flex-direction: column;
    }
  }

  .example {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    border-radius: 10px;
    margin: 2rem 0.5rem 0;
    text-decoration: none;
    color: var(--main-color);
    border: 2px solid #eee;
    font-weight: bold;
    box-shadow:
      0 10px 10px rgb(0 0 0 / 6%),
      0 0 0 2px #fff;
    transition: 0.3s all;
    background: #fff;

    &:hover {
      transform: scale(1.1);
    }

    img {
      height: 80px;
      margin-bottom: 10px;
    }
  }
}
