{{page-title "About - SlideContentEmber"}}

<div class="about">
  <p>{{t "about"}}</p>
  <div class="examples">
    <a
      href="https://slidecontent-vuejs.web.app"
      target="_blank"
      class="example"
      rel="noopener noreferrer"
    >
      <img src="assets/logos/logo-vue.svg" width="50" alt="" />SlideContentVue
    </a>
    <a
      href="https://slidecontent-angularjs.web.app"
      target="_blank"
      class="example"
      rel="noopener noreferrer"
    >
      <img src="assets/logos/logo-angular.svg" width="150" alt="" />
      SlideContentAngular
    </a>
    <a
      href="https://slidecontent-reactjs.web.app"
      target="_blank"
      class="example"
      rel="noopener noreferrer"
    >
      <img src="assets/logos/logo-react.svg" width="90" alt="" />
      SlideContentReact
    </a>
  </div>
</div>