{{page-title "About - SlidecontentEmber"}}

<div class="about">
  <p>{{t "about"}}</p>
  <div class="examples">
    <a
      href="https://slidecontent-vuejs.web.app"
      target="_blank"
      class="example"
    >
      <img
        src="assets/logos/logo-vue.svg"
        width="50"
        alt="Vue.js Logo"
      />SlideContent Vue.js
    </a>
    <a
      href="https://slidecontent-angularjs.web.app"
      target="_blank"
      class="example"
    >
      <img src="assets/logos/logo-angular.svg" width="150"  alt="Angular Logo" />
      SlideContent Angular
    </a>
    <a
      href="https://slidecontent-reactjs.web.app"
      target="_blank"
      class="example"
    >
      <img src="assets/logos/logo-react.svg" width="90" alt="React Logo" />
      SlideContent React
    </a>
  </div>
</div>